WebApp/Connected Services/ServiceReferenceWeb/ServiceWeb1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoSomething">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSomethingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomething">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomethingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSomethingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PassSomethingToAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PassSomethingToBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToAToB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToAToBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PassSomethingToAToBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToBToA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PassSomethingToBToAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PassSomethingToBToAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>