WebApp/Connected Services/ServiceReferenceWeb/ServiceWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWeb" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44325/ServiceWeb.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44325/ServiceWeb.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWeb_DoSomething_InputMessage">
    <wsdl:part name="parameters" element="tns:DoSomething" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_DoSomething_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoSomethingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_GetSomething_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSomething" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_GetSomething_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSomethingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToA_InputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToA" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToA_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToAResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToB_InputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToB" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToB_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToBResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToAToB_InputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToAToB" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToAToB_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToAToBResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToBToA_InputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToBToA" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PassSomethingToBToA_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToBToAResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWeb">
    <wsdl:operation name="DoSomething">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeb/DoSomething" message="tns:IServiceWeb_DoSomething_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeb/DoSomethingResponse" message="tns:IServiceWeb_DoSomething_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSomething">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeb/GetSomething" message="tns:IServiceWeb_GetSomething_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeb/GetSomethingResponse" message="tns:IServiceWeb_GetSomething_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToA" message="tns:IServiceWeb_PassSomethingToA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToAResponse" message="tns:IServiceWeb_PassSomethingToA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToB">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToB" message="tns:IServiceWeb_PassSomethingToB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToBResponse" message="tns:IServiceWeb_PassSomethingToB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToAToB">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToAToB" message="tns:IServiceWeb_PassSomethingToAToB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToAToBResponse" message="tns:IServiceWeb_PassSomethingToAToB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToBToA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToBToA" message="tns:IServiceWeb_PassSomethingToBToA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeb/PassSomethingToBToAResponse" message="tns:IServiceWeb_PassSomethingToBToA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWeb" type="tns:IServiceWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSomething">
      <soap:operation soapAction="http://tempuri.org/IServiceWeb/DoSomething" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSomething">
      <soap:operation soapAction="http://tempuri.org/IServiceWeb/GetSomething" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToA">
      <soap:operation soapAction="http://tempuri.org/IServiceWeb/PassSomethingToA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToB">
      <soap:operation soapAction="http://tempuri.org/IServiceWeb/PassSomethingToB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToAToB">
      <soap:operation soapAction="http://tempuri.org/IServiceWeb/PassSomethingToAToB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToBToA">
      <soap:operation soapAction="http://tempuri.org/IServiceWeb/PassSomethingToBToA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWeb">
    <wsdl:port name="BasicHttpBinding_IServiceWeb" binding="tns:BasicHttpBinding_IServiceWeb">
      <soap:address location="http://localhost:65067/ServiceWeb.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>