WcfServicesA/Connected Services/ServiceReferenceB/ServiceB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceB" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44333/ServiceB.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44333/ServiceB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceB_DoSomething_InputMessage">
    <wsdl:part name="parameters" element="tns:DoSomething" />
  </wsdl:message>
  <wsdl:message name="IServiceB_DoSomething_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoSomethingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceB_GetSomething_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSomething" />
  </wsdl:message>
  <wsdl:message name="IServiceB_GetSomething_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSomethingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceB_PassSomethingToA_InputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToA" />
  </wsdl:message>
  <wsdl:message name="IServiceB_PassSomethingToA_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassSomethingToAResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceB">
    <wsdl:operation name="DoSomething">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceB/DoSomething" message="tns:IServiceB_DoSomething_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceB/DoSomethingResponse" message="tns:IServiceB_DoSomething_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSomething">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceB/GetSomething" message="tns:IServiceB_GetSomething_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceB/GetSomethingResponse" message="tns:IServiceB_GetSomething_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceB/PassSomethingToA" message="tns:IServiceB_PassSomethingToA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceB/PassSomethingToAResponse" message="tns:IServiceB_PassSomethingToA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceB" type="tns:IServiceB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSomething">
      <soap:operation soapAction="http://tempuri.org/IServiceB/DoSomething" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSomething">
      <soap:operation soapAction="http://tempuri.org/IServiceB/GetSomething" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassSomethingToA">
      <soap:operation soapAction="http://tempuri.org/IServiceB/PassSomethingToA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceB">
    <wsdl:port name="BasicHttpBinding_IServiceB" binding="tns:BasicHttpBinding_IServiceB">
      <soap:address location="http://localhost:65128/ServiceB.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>